<h1>Secret Page</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-kFTtuiAtCvVZ0Ca-j5vXNYnb6W9UuE-sDF8Xo0kcqVSjL99dQQ">

<li><a href="/register">Signup</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">SignOut</a></li>
